@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import "Mixins.scss";
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #091121;
  padding: 10px;
}
section{
  background-image: url('../Images/BG_Portfolio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 96vh;

  @include max-screen(560px){
    height: 100%;
  }
  h1{

    padding-top: 30px;
    font-size: 60px;
    color: #0f0f0f;
    text-align: center;
    font-weight: normal;
    font-family: 'Comic Neue', cursive;
  }
  .flex-block{
    margin-top: 160px;
    display: flex;
    justify-content: space-around;
    @include max-screen(820px){
      margin-top: 40px;
    }
    @include max-screen(570px){
      flex-wrap: wrap;
      justify-content: center;
    }

    h2{
      color: #0f0f0f;
      font-weight: normal;
      font-size: 30px;
      text-align: center;
      font-family: 'Comic Neue', cursive;
      margin-top: 10px;
    }
    .Luis{
width: 300px;
      height: 300px;
      text-align: center;

      img:hover{
        opacity: 70%;
      }
    }
    .Lucid {
      width: 300px;
      height: 300px;
      text-align: center;

      img:hover {
        opacity: 70%;
      }
    }
    .Elena{
      width: 300px;
      height: 300px;
      text-align: center;
      img:hover {
        opacity: 70%;
      }
    }

  }

}


